.containerfull {
  height: 100%;
  width: 100%;
}

.divprincipal {
  background: #ffffff;
  margin: 0 auto 0 auto;
  height: 500px;
  width: 500px;
  margin-top: auto;
  text-align: center;
  border-radius: 10px;
}

.logo {
  margin-top: 40%;
  height: 70px;
  width: 70px;
}

.login {
  margin-top: 30px;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  border-width: 1px;
  border: solid 1px;
  outline: none;
  border-color: #dcdcdc;
}

.button {
  margin-top: 30px;
  border-radius: 10px;
  background: #1da1f2;
  border-style: unset;
  height: 50px;
  width: 250px;
}

.button:focus {
  outline: none;
}
